name: Pull Request Verification

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix run github:nicknovitski/nix-develop .#workflow
      - run: cargo fmt --check

  clippy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix run github:nicknovitski/nix-develop .#workflow
      - uses: giraffate/clippy-action@v1
        with:
          reporter: "github-pr-check"
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix run github:nicknovitski/nix-develop .#workflow
      - run: cargo build --locked --all-features --all-targets

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix run github:nicknovitski/nix-develop .#workflow
      - run: cargo test --locked --all-features --all-targets
